{% extends "_base.njk" %}
{% from "macro/_gallery.njk" import gallery %}

{% block body %}
    <main>
        <h1>Eduardo Rocha</h1>
        <article>
            <h1>Galerie</h1>
            <h2>1. Pirsch</h2>
            {{ gallery([
                {url: '~Pictures/eduardo/1.jpg', alt: '', caption: 'Ich finde, dass das ein gutes Bild ist, der Objekt ist eindeutig und hat ein guten Kontrast.'},
                {url: '~Pictures/eduardo/2.jpg', alt: '', caption: 'Dieses Bild hat zwar ein gutes Motiv, es fehlt aber irgendwas an das Bild. Vielleicht mangelt es an Tiefe?'},
                {url: '~Pictures/eduardo/3.jpg', alt: '', caption: 'Dieses Bild zeigt ein Objekt, das man jeden Tag sieht aber fast nie in eine solche Perspektive betrachtet.'}
            ], 480, 'gEP1') }}
            <h2>2. Pirsch</h2>
            {{ gallery([
                {url: '~Pictures/eduardo/4.jpg', alt: '', caption: 'Der Motiv dieses Bild ist klar und die andere Klinken führen in eine Linie zur Mitte. Der Hintergrund ist aber nicht so optimal.'},
                {url: '~Pictures/eduardo/5.jpg', alt: '', caption: 'Ich wollte ein Bild im Hochformat schiessen. Das Bild sieht zwar nicht schlecht aus, aber es könnte besser sein.'},
                {url: '~Pictures/eduardo/6.jpg', alt: '', caption: 'Bei dieses Bild habe ich mit der Perspektive ein wenig gespielt. Ich finde aber, es ist zu viel auf das Bild, es hat keinen klaren Motiv.'}
            ], 480, 'gEP2') }}
            <h2>3. Pirsch</h2>
            {{ gallery([
                {url: '~Pictures/eduardo/7.jpg', alt: '', caption: '[F/2.8, 1/200] Zwar ein sehr gutes Motiv, aber ein langweiligen Blickpunkt. Von unten wäre es vielleicht interessanter gewesen.'},
                {url: '~Pictures/eduardo/8.jpg', alt: '', caption: '[F/2.8, 1/20] Die Idee ist genial, aber der Motiv ist viel, viel zu dunkel.'},
                {url: '~Pictures/eduardo/9.jpg', alt: '', caption: '[F/2.8, 1/20] Es ist zu viel an das Bild. Wenn der Ziegelstein fokussiert wäre und der Rest nicht, würde das ein tolles Bild sein.'}
            ], 480, 'gEP3') }}
        </article>
        <article>
            <h1>Dokumente</h1>
            <ul>
                <li><a href="~Doc/eduardo/Rechtliche_Grundlagen.pdf" target="_blank">Rechtliche Grundlagen</a></li>
                <li><a href="~Doc/eduardo/Dateiformate.pdf" target="_blank">Dateiformate</a></li>
                <li><a href="~Doc/eduardo/Software_und_Scripts.pdf" target="_blank">Software und Scripts</a></li>
            </ul>
        </article>
    </main>
{% endblock %}