{% extends "_base.njk" %}
{% from "macro/_gallery.njk" import gallery %}

{% block body %}
    <main>
        <h1>Leonardo Meyer</h1>
        <article>
            <h1>Galerie</h1>
            <h2>1. Pirsch</h2>
            {{ gallery([
                {url: '~Pictures/leonardo/1.jpg', alt: '', caption: 'Das Objekt auf diesem Bild ist die Laterne, sie steht sehr zentral, das macht das Bild langweilig. Darüberhinaus ist die Laterne viel zu dunkel. Die Schärfentiefe ist jedoch gut.'},
                {url: '~Pictures/leonardo/2.jpg', alt: '', caption: 'Die Lampe ist das zentrale Objekt. Sie steht ebenfalls im Zentrum und somit ist das Bild etwas langweilig. Jedoch ist die Stimmung, welche durch die Lichter am Boden erzeugt wird, sehr harmonisch.'},
                {url: '~Pictures/leonardo/3.jpg', alt: '', caption: 'Das Objekt auf diesem Bild ist das Feuerzeug. Es steht sehr zentral und macht das Bild langweilig. Dafür ist die Schärfentiefe sehr gut und die Flamme geht harmonisch in den Hintergrund über.'}
            ], 480, 'gLP1') }}
            <h2>2. Pirsch</h2>
            {{ gallery([
                {url: '~Pictures/leonardo/4.jpg', alt: '', caption: 'Das Zentrale Objekt ist das braune Blatt unten Links, es ist nicht mitten im Bild und hat ein Gegengewicht im Hintergrund. Das vordere Blatt is zentriert, mit einer guten Tiefenschärfe.'},
                {url: '~Pictures/leonardo/5.jpg', alt: '', caption: 'Der Stuhl, welcher das zentrale Objekt ist, steht im Vordergrund und ist nicht in der Mitte. Das Bild hat durch die zwei anderen Stühle im Hintergrund ein gutes Gleichgewicht. Jedoch ist die Tiefenschärfe nicht sehr gut.'},
                {url: '~Pictures/leonardo/6.jpg', alt: '', caption: 'Der erste Baum auf der rechten Seite ist das Zentrale Objekt. Das Bild ist intressant durch die Positionierung es Objektes und den, fast identischen Objekten, welche in der Flucht stehen. Die Schärfentiefe hätte jedoch noch besser eingestellt werden.'}
            ], 480, 'gLP2') }}
            <h2>3. Pirsch</h2>
            {{ gallery([
                {url: '~Pictures/leonardo/7.jpg', alt: '', caption: 'Druch die Tiefenschärfe sieht man sofort welches das Objekt im Vordergrund sein soll. Leider ist es etwas zu zentral und somit etwas langweilig. (Kammeraeinstellungen: f 2.8)'},
                {url: '~Pictures/leonardo/8.jpg', alt: '', caption: 'Das Efeu, welches auf der rechten Seite ist, ist sehr intressnt, da die hinteren Blätter im Fokus stehen. Somit hat man ein ausgewogenes Bild mit einer tollen Tiefenschärfe und einem guten Gleichgewicht mit dem Wald im Hintergrund. (Kammeraeinstellungen: f 2.8)'},
                {url: '~Pictures/leonardo/9.jpg', alt: '', caption: 'Der Stein welche das Hauptobjekt ist, spring einem sofort in Auge. Das Bild besitzt eine sehr gute Schärfentiefe und der dunkle Hintergrund machen das Bild intressant. Das Bild kippt jedoch nach rechts, da kein Gegengewicht vorhanden ist. (Kammeraeinstellungen: f 2.8)'}
            ], 480, 'gLP3') }}
        </article>
        <article>
            <h1>Dokumente</h1>
            <ul>
                <li><a href="~Doc/leonardo/Rechtliche_Grundlagen.pdf" target="_blank">Rechtliche Grundlagen</a></li>
                <li><a href="~Doc/leonardo/Dateiformate.pdf" target="_blank">Dateiformate</a></li>
                <li><a href="~Doc/leonardo/Software, Scripts & Plug-ins.pdf" target="_blank">Software, Scripts & Plug-ins</a></li>
            </ul>
        </article>
    </main>
{% endblock %}