{% extends "_base.njk" %}
{% from "macro/_gallery.njk" import gallery %}

{% block body %}
    <main>
        <h1>Vinícius Pontes</h1>
        <article>
            <h1>Galerie</h1>
            <h2>1. Pirsch</h2>
            {{ gallery([
                {url: '~Pictures/vinicius/1.jpg', alt: '', caption: 'Mein Objekt auf diesem Bild ist das Moos. Ich finde, dass das Objekt aufgrund seiner Farbe hervorgehoben wird.'},
                {url: '~Pictures/vinicius/2.jpg', alt: '', caption: 'Das grüne Objekt fällt auf dem Foto auf, da der Hintergrund quasi monoton ist. Leider wurde das Foto zu dunkel.'},
                {url: '~Pictures/vinicius/3.jpg', alt: '', caption: 'Hier ist das Objekt ganz in der Mitte. Ich merke, dass es langweilig ist. Das Foto ist nicht so dynamisch.'}
            ], 480, 'gVP1') }}
            <h2>2. Pirsch</h2>
            {{ gallery([
                {url: '~Pictures/vinicius/4.jpg', alt: '', caption: 'Die Balance ist mir leider nicht gelungen auf diesem Bild, da die Objekte nicht so gut positioniert sind.'},
                {url: '~Pictures/vinicius/5.jpg', alt: '', caption: 'Hier wurde es ein wenig besser, aber die Distanz zwischen der Pflanzen könnte grösser sein.'},
                {url: '~Pictures/vinicius/6.jpg', alt: '', caption: 'Mit den Steinen habe ich versucht die Balance zu erreichen. Ich denke, dass es einigermassen funktioniert hat.'}
            ], 480, 'gVP2') }}
            <h2>3. Pirsch</h2>
            {{ gallery([
                {url: '~Pictures/vinicius/7.jpg', alt: '', caption: '(f/3,6) Die Kameraeinstellungen waren hier optimierungsbedürftig. Man sieht noch Vieles vom Hintergrund und es wirkt ablenkend. Das Objekt (Kletterpflanze) wird nicht hevorgehoben'},
                {url: '~Pictures/vinicius/8.jpg', alt: '', caption: '(f/2,8) Meine Objekte auf diesem Bild sind die Früchte. Mit Schärfentiefe konnte ich die Objekte hevorheben, aber sie stehen recht im Zentrum des Bilds, was langweilig wirkt.'},
                {url: '~Pictures/vinicius/9.jpg', alt: '', caption: '(f/2,8) Hier konnte ich die Schärfentiefe optimal einsetzen und obwohl der Hintergrund mehrere Elemente hat, wird das rote Objekt nicht ausgeblendet.'}
            ], 480, 'gVP3') }}
        </article>
        <article>
            <h1>Dokumente</h1>
            <ul>
                <li><a href="~Doc/vinicius/Rechtliche_Grundlagen.pdf" target="_blank">Rechtliche Grundlagen</a></li>
                <li><a href="~Doc/vinicius/Dateiformate.pdf" target="_blank">Dateiformate</a></li>
				    <li><a href="~Doc/vinicius/Plugins_Webauftritt.pdf" target="_blank">Ressourcen Webauftritt</a></li>
            </ul>
        </article>
    </main>
{% endblock %}