<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Brackets{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~Img/favicon-16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="~Img/favicon-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="~Img/favicon-48.png" sizes="48x48" type="image/png">
</head>
<body>
{% include "include/_header.njk" %}
{% block body %}
{% endblock %}
</body>
</html>