{% extends "_base.njk"  %}
{% from "macro/_gallery.njk" import gallery %}

{% block body %}
    <main>
        <h1>Brackets</h1>
        <article>
            <h1>Mord an der Gibb</h1>
            <video class="player" controls data-plyr-config='{ "title": "Mord an der Gibb" }'
                   data-download="~Videos/Mord an der Gibb-1080p.mp4">
                <source src="~Videos/Mord an der Gibb-1080p.webm" type="video/webm" size="1080" />
                <source src="~Videos/Mord an der Gibb-1080p.mp4" type="video/mp4" size="1080" />

                {# MP4 comes firsts at 720 as a safety for Safari, not testet wheter it makes a difference or not #}
                <source src="~Videos/Mord an der Gibb-720p.mp4" type="video/mp4" size="720" />
                <source src="~Videos/Mord an der Gibb-720p.webm" type="video/webm" size="720" />

                <source src="~Videos/Mord an der Gibb-576p.webm" type="video/webm" size="576" />
                <source src="~Videos/Mord an der Gibb-576p.mp4" type="video/mp4" size="576" />

                <p>Dein Browser unterstützt HTML5 nicht. Um diese Website zu benutzen, brauchen Sie eine neue Browser,
                    wie z.&nbsp;B. <a href="https://www.mozilla.org/firefox/" target="_blank">Mozilla Firefox</a> oder
                    <a href="https://www.google.com/chrome/">Google Chrome</a>.</p>
            </video>
        </article>
        <article>
            <h1>Finale Bilder</h1>
            <h2>Eduardo Rocha</h2>
            {{ gallery([
                {url: '~Pictures/eduardo/final/edited/1.jpg', urlOrig: '~Pictures/eduardo/final/orig/1.jpg', alt: '', caption: '[F4.5, 1/80] Meiner Meinung nach ist das Bild ein sehr gutes Bild. Es ist simpel, dadurch erkennt man das Motiv sofort. Mit der Retusche, die vorgenommen wurde, wurde das Bild lebendiger.', download: '~Raw/eduardo/IMG_0194.CR2'},
                {url: '~Pictures/eduardo/final/edited/2.jpg', urlOrig: '~Pictures/eduardo/final/orig/2.jpg', alt: '', caption: '[F1.8, 1/80] Ich hatte vorher ein ähnliches Bild geschossen, das aber nicht so gut aussah. Ich habe versucht, das Bild nachzumachen und diesmal ist es sehr gut gekommen.', download: '~Raw/eduardo/IMG_0226.CR2'},
                {url: '~Pictures/eduardo/final/edited/3.jpg', urlOrig: '~Pictures/eduardo/final/orig/3.jpg', alt: '', caption: '[F5.6, 1/80] Man kann gar nicht merken, dass das Bild bearbeitet worden ist, und das ist genau das Ziel. Das Bild sieht natürlich aus, es wurde wenig retuschiert.', download: '~Raw/eduardo/IMG_0309.CR2'}
            ], 480, 'gEF') }}
            <h2>Leonardo Meyer</h2>
            {{ gallery([
                {url: '~Pictures/leonardo/final/fake/blatt.jpg', urlOrig:'~Pictures/leonardo/final/original/blatt.jpg', alt: '', caption: 'Das Bild besitzt eine gute Balance, da das grosse Blatt im Vordergrund von einem anderen Blatt ein Gegengewicht bekommt. Die Verschlusszeit der Blende ist ebenfalls gut gewählt so wie die Distanz zu dem Objekt. Man hat durch die Schärfentiefe auch eine klare Abgrenzung, jedoch ist der Hintergrund zu komplex. Ein schlichter Hintergrund wäre wünschenswert. [F 2.8, 2.8mm, ISO 100]'},
                {url: '~Pictures/leonardo/final/fake/ringe.jpg', urlOrig:'~Pictures/leonardo/final/original/ring.jpg', alt: '', caption: 'Das Bild besitzt eine gute Balance, weil der Ring nach hinten immer kleiner wird und es im Hintergrund noch Metallverstrebungen hat. Die Verschlusszeit der Blende ist ebenfalls gut gewählt so wie die Distanz zu dem Objekt. Man hat durch die Schärfentiefe auch eine klare Abgrenzung. [F 1.8, 50.0mm, ISO 125]'},
                {url: '~Pictures/leonardo/final/fake/rolle.jpg', urlOrig:'~Pictures/leonardo/final/original/rolle.jpg', alt: '', caption: 'Das Bild besitzt eine gute Balance, weil die Metallaufwicklung sich immer mehr abwickelt, nach hinten immer kleiner wird und es im Hintergrund noch Metallverstrebungen hat. Die Verschlusszeit der Blende ist ebenfalls gut gewählt so wie die Distanz zu dem Objekt. Man hat durch die Schärfentiefe auch eine klare Abgrenzung. [F 1.8, 50.0mm, ISO 125]'}
            ], 480, 'gLF') }}
            <h2>Vinícius Pontes</h2>
            {{ gallery([
                {url: '~Pictures/vinicius/10.jpg', urlOrig: '~Pictures/vinicius/10-2.jpg', alt: '', caption: ''},
                {url: '~Pictures/vinicius/11.jpg', urlOrig: '~Pictures/vinicius/11-2.jpg', alt: '', caption: ''},
                {url: '~Pictures/vinicius/12.jpg', urlOrig: '~Pictures/vinicius/12-2.jpg', alt: '', caption: ''}
            ], 480, 'gVF') }}
        </article>
        <article>
            <h1>Livestream</h1>
            <div class="plyr__video-embed player">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/UVxU2HzPGug"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                ></iframe>
            </div>
        </article>
    </main>
{% endblock %}