{% macro gallery(pictures, thumbnailSize = 256, gallery_id = 'g1') %}
    <div class="gallery" data-gallery-id="{{ gallery_id | replace('_', '-') }}">
        {% for picture in pictures %}
            {% set thumb = picture.url ~ '?size=' ~ thumbnailSize %}
            <a href="{{ picture.url }}" class="gallery-item-link">
                <figure class="gallery-item" data-src="{{ picture.url }}" data-thumb="{{ thumb }}"
                    data-alt="{{ picture.alt }}" data-caption="{{ picture.caption }}"
                    {% if picture.urlOrig %}data-url-orig="{{ picture.urlOrig }}"{% endif %}
                    {% if picture.download %}data-download="{{ picture.download }}"{% endif %}
                >
                    <img src="{{ thumb }}" alt="{{ picture.alt }}">
                    {% if picture.caption %}
                        <figcaption>{{ picture.caption }}</figcaption>
                    {% endif %}
                </figure>
            </a>
        {% endfor %}
    </div>
{% endmacro %}