<header id="header">
    <div class="content">
        <a id="logo" href="/"><span class="brackets-icon"></span> Brackets</a>
        <nav id="navbar">
            <ul class="navbar-items">
                <li><a href="/">Home</a></li>
                <li><a href="/portfolio/eduardo_rocha.html">Eduardo Rocha</a></li>
                <li><a href="/portfolio/leonardo_meyer.html">Leonardo Meyer</a></li>
                <li><a href="/portfolio/vinicius_pontes.html">Vinícius Pontes</a></li>
            </ul>
            <div class="navbar-burger">
                <div class="navbar-burger-icon"></div>
            </div>
        </nav>
    </div>
</header>