@import "colors";
@import "variables";

body[data-gallery-open="true"] {
  overflow: hidden;
}

// I hate myself for enabling no-descending-specificity
.gallery-viewer.inactive figcaption,
.gallery-viewer.inactive .beer-handle {
  opacity: 0;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  @media screen and (max-width: $break-medium) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: $break-small) {
    grid-template-columns: 1fr;
  }

  figure {
    margin: 0;
  }

  .gallery-item {
    position: relative;
    height: 0;
    padding-top: 75%;
    overflow: hidden;
    background-color: black;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: contain;
      transition: transform 200ms;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      padding: 0.25rem;
      background-color: #000c;
      opacity: 0;
      transition: opacity 200ms;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }

      figcaption {
        opacity: 1;
      }
    }
  }

  a,
  a:hover {
    color: $text-color-bright;
    text-decoration: none;
  }
}

.gallery-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  .gallery-prev,
  .gallery-next,
  .gallery-close,
  .gallery-download {
    position: fixed;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    background-color: #000c;
    z-index: 3;
    transition: opacity 500ms;

    &::after {
      background-repeat: no-repeat;
      background-size: 3rem !important;
      background-position: 0.5em;
      content: '';
      width: 100%;
      height: 100%;
      background-color: #0003;
      display: block;
    }
  }

  .gallery-prev {
    left: 1rem;

    &::after {
      background-image: url("~Img/arrow-left.svg");
    }
  }

  .gallery-next {
    right: 1rem;

    &::after {
      background-image: url("~Img/arrow-left.svg");
      transform: scaleX(-1);
    }
  }

  .gallery-close {
    top: 1rem;
    right: 1rem;

    &::after {
      background-image: url("~Img/close.svg");
    }
  }

  .gallery-download {
    top: 1rem;
    right: 5rem;

    &::after {
      background-image: url("~Img/download.svg");
    }
  }

  .gallery-holder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    .image {
      display: none;
      margin: 0;

      &.current {
        display: initial;
      }

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
      }

      figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #000d;
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        font-size: 1.05rem;
        z-index: 3;
        transition: opacity 500ms;
      }

      .beer-slider {
        width: 100%;
        height: 100%;
        position: absolute;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }

        > img {
          opacity: 0;
          transition: opacity 0.35s;
        }

        .beer-handle {
          transition: opacity 500ms;
        }

        &.beer-ready {
          > img {
            opacity: 1;
          }
        }
      }
    }
  }

  &.inactive {
    .gallery-close,
    .gallery-prev,
    .gallery-next,
    .gallery-download {
      opacity: 0;
    }
  }
}
