@import "colors";
@import "variables";

#header {
  background-color: $header-color;
  color: $text-color-bright;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 5;

  @include shadow(5px);

  .content {
    @include content-width;

    display: flex;
    justify-content: space-between;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

#logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 0 0.25rem;
  transition: background-color 200ms;

  &:hover {
    background-color: $detail-color;
  }

  .brackets-icon {
    background: url("~Img/logo.svg") center / contain no-repeat;
    width: 3rem;
    height: 3rem;
    margin: 0.25rem 0.5rem 0.25rem 0;
  }
}

#navbar {
  display: flex;
  position: relative;

  .navbar-burger {
    display: none;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 200ms;

    @media screen and (max-width: $break-small) {
      display: flex;
    }

    &:hover {
      background-color: $detail-color;
    }

    .navbar-burger-icon {
      background: url("~Img/menu.svg") center / contain no-repeat;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  ul.navbar-items {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    @media screen and (max-width: $break-small) {
      display: none;
    }

    li {
      display: flex;

      a {
        display: flex;
        align-items: center;
        padding: 0 0.75rem;
        transition: background-color 200ms;

        &:hover {
          background-color: $detail-color;
        }
      }
    }

    &.navbar-open {
      display: flex;
      position: absolute;
      top: 1rem;
      right: 0;
      flex-direction: column;
      width: 10rem;

      @include shadow(2px);

      li {
        height: 2.5rem;
        background-color: $header-color;

        a {
          width: 100%;
        }
      }
    }
  }
}
