$break-small: 800px;
$break-medium: 1200px;

@mixin content-width {
  $padding: 1rem;
  $content-width: calc(#{$break-small} + (100vw - #{$break-small}) / 2 - 2 * #{$padding});

  width: $content-width;

  @media screen and (max-width: $break-small) {
    width: calc(100vw - 2 * #{$padding});
  }
}

@mixin shadow($pixels) {
  box-shadow: 0 0 $pixels + 1px $pixels #000b;
}
