@import "colors";
@import "variables";
@import "header";
@import "gallery";
@import "headroom";

$plyr-color-main: $detail-color;

@import "~beerslider/dist/BeerSlider.css";
@import "~plyr/src/sass/plyr";

body {
  margin: 0;
  font-family: sans-serif;
  background-color: $background-color;
  color: $text-color-bright;
}

main {
  @include content-width;

  max-width: 100vw;
  margin: 0 auto;
}

a {
  color: $text-color-bright;
  transition: color 150ms;

  &:hover {
    color: $detail-color;
  }
}

article {
  background-color: $article-color;
  padding: 1rem;
  margin-bottom: 2rem;

  @include shadow(2px);

  h1 {
    display: inline-block;
    background-color: $detail-color;
    padding: 0.25rem 1rem 0.25rem 2rem;
    margin: 0 0 1rem -2rem;

    @include shadow(1px);
  }

  & > * {
    max-width: 100%;
  }
}
